.footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
    text-align: center; 
    margin-top: 100px;
}

.footer span {
    font-size: 15px;
}

a {
    transition: all .2s ease;
}

a:hover {
    color: var(--green);
}

@media (min-width: 650px) {
    .footer-social {
        display: flex;
        gap: 20px;
        font-size: 20px;
        
    }
}